@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color: #150d51;
    --text-color: #333;
    --background-color: #f5eb92;
    --hover-color: #e74c3c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.language-switcher {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.language-button {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.language-text {
    display: none;
}

.language-flag {
    width: 30px;
    height: 20px;
    border-radius: 2px;
    object-fit: cover;
}

.language-button i {
    display: none;
}

.language-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    top: 100%;
    right: 0;
    width: auto;
    min-width: 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.language-dropdown.show {
    display: block;
}

.language-dropdown button {
    display: flex;
    width: 100%;
    padding: 4px;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
}

.language-dropdown button:hover {
    background-color: #f0f0f0;
}

/* Añadir un pequeño espacio entre los botones del dropdown */
.language-dropdown button + button {
    border-top: 1px solid #eee;
}


/* En pantallas pequeñas, invertimos la visualización */
@media (max-width: 768px) {
    .language-text {
        display: none;
    }
    
    .language-flag {
        display: inline;
    }
    
    .language-button .fas {
        display: none;
    }
}

.language-switcher {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.language-button {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.language-button i {
    display: none;
    margin-left: 8px;
}

.language-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    top: 100%;
    right: 0;
    width: 150px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.language-dropdown.show {
    display: block;
}

.language-dropdown button {
    display: block;
    width: 100%;
    padding: 8px 12px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
}

.language-dropdown button:hover {
    background-color: #f0f0f0;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    overflow-x: hidden;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.container p {
    margin: 0 0.5rem 0.5rem;
    font-size: 1.2rem;
    position: relative;
    z-index: 2;
    text-align: justify;
}

header {
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    color: white;
    padding: 3rem 0;
    position: relative;
    overflow: hidden;
}

header::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 70%);
    animation: rotate 20s linear infinite;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 75%;
    border: 4px solid white;
    margin-right: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-pic:hover {
    transform: scale(1.1) rotate(5deg);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.header-text {
    text-align: left;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.social-icons {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
}

.social-icons a {
    text-decoration: none;
    margin-right: 1rem;
}

#linkedin,
#instagram,
#facebook,
#whatsapp {
    font-size: 2em;
    background-color: #18191f;
    color: #fff;
    box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
        2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
        inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
        inset 2px 2px 10px #00000080;
    border-radius: 29px;
    padding: 11px 19px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
        0 0 200px #0072ff;
}

#linkedin {
    animation-delay: 0.1s;
}

#instagram {
    animation-delay: 0.3s;
}

#facebook {
    animation-delay: 0.5s;
}

#whatsapp {
    animation-delay: 0.7s;
}

@keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

main {
    padding: 3rem 0;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
    position: relative;
    display: inline-block;
}

h2::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: width 0.3s ease;
}

h2:hover::after {
    width: 100%;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.project {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.project::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.project:hover::before {
    opacity: 0.2;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.project:hover img {
    transform: scale(1.1);
}

.project h3 {
    font-size: 1.2rem;
    margin: 1rem;
    position: relative;
    z-index: 2;
}

.project p {
    margin: 0 1rem 1rem;
    font-size: 0.9rem;
    position: relative;
    z-index: 2;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1rem 1rem;
    position: relative;
    z-index: 2;
}

.tags span {
    background-color: var(--primary-color);
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 20px;
    font-size: 0.8rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    transition: all 0.3s ease;
}

.tags span:hover {
    background-color: var(--hover-color);
    transform: scale(1.1) rotate(5deg);
}

footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    overflow: hidden;
}

footer::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 70%);
    animation: rotate 20s linear infinite;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    animation: fadeInUp 0.5s ease-out forwards;
}

/* Estilos para el botón "Ver presentación" */
.button {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #2c9caf;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #2c9caf;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

.button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #70bdca;
    box-shadow: 4px 5px 17px -4px #268391;
}

.button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #2c9caf;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.button:hover::before {
    width: 250%;
}
/* Estilos para el contenedor de certificados */
.certificate {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

/* Estilos para la imagen del certificado */
.certificate-image {
    width: 100px;
    height: 70px;
    object-fit: cover;
    margin-right: 1rem;
}

/* Estilos para la información del certificado */
.certificate-info {
    flex: 1;
}

/* Estilos para el botón "Ver certificado" */
.buttonc {
    position: absolute;
    bottom: .75px;
    right: 1px;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    color: #2c9caf;
    background-color: transparent;
    transition: all 0.3s ease;
    outline: 2px solid #2c9caf;
}

.buttonc:hover {
    color: #ffffff;
    background-color: #2c9caf;
    transform: scale(1.05);
    outline: 2px solid #70bdca;
    box-shadow: 0 2px 8px rgba(38, 131, 145, 0.3);
}

/* Estilos para el lightbox de imágenes */
#image-lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

#image-lightbox .lightbox-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 800px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#image-container {
    width: 100%;
    height: 0;
    padding-bottom: 75%; /* Ajusta esto según la relación de aspecto de tus imágenes */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .certificate {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 3rem; /* Espacio para el botón */
    }

    .certificate-image {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .buttonc {
        bottom: 10px;
        right: 10px;
        font-size: 0.8em;
        padding: 0.4em 0.8em;
    }
}
/* Estilos para el lightbox */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 800px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1001;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#video {
    width: 100%;
    height: 450px;
    border: none;
}

/* Loader styles */
.loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1002;
}
/* Estilos para el loader */
.loader {
    --background: linear-gradient(135deg, #23C4F8, #275EFE);
    --shadow: rgba(39, 94, 254, 0.28);
    --text: #6C7486;
    --page: rgba(255, 255, 255, 0.36);
    --page-fold: rgba(255, 255, 255, 0.52);
    --duration: 3s;
    width: 200px;
    height: 140px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
}
#certificates {
    margin-top: 2rem;
}

#toggle-certificates {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#toggle-certificates:hover {
    background-color: var(--hover-color);
}
.hidden {
    display: none;
}

#certificates-content {
    margin-top: 1rem;
}

.certificate {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.certificate img {
    width: 100px;
    height: 70px;
    object-fit: cover;
    margin-right: 1rem;
}

.certificate-info h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.certificate-info p {
    font-size: 0.9rem;
    color: #666;
}
/* Estilos existentes... */

/* Estilos para el botón "Ver presentación" */
.button {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #2c9caf;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #2c9caf;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  .button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #70bdca;
    box-shadow: 4px 5px 17px -4px #268391;
  }
  
  .button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #2c9caf;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  .button:hover::before {
    width: 250%;
  }
  
  /* Estilos para el loader */
  .loader {
    --background: linear-gradient(135deg, #23C4F8, #275EFE);
    --shadow: rgba(39, 94, 254, 0.28);
    --text: #6C7486;
    --page: rgba(255, 255, 255, 0.36);
    --page-fold: rgba(255, 255, 255, 0.52);
    --duration: 3s;
    width: 200px;
    height: 140px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
  }
  
  .loader:before, .loader:after {
    --r: -6deg;
    content: "";
    position: absolute;
    bottom: 8px;
    width: 120px;
    top: 80%;
    box-shadow: 0 16px 12px var(--shadow);
    transform: rotate(var(--r));
  }
  
  .loader:before {
    left: 4px;
  }
  
  .loader:after {
    --r: 6deg;
    right: 4px;
  }
  
  .loader div {
    width: 100%;
    height: 100%;
    border-radius: 13px;
    position: relative;
    z-index: 1;
    perspective: 600px;
    box-shadow: 0 4px 6px var(--shadow);
    background-image: var(--background);
  }
  
  .loader div ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
  }
  
  .loader div ul li {
    --r: 180deg;
    --o: 0;
    --c: var(--page);
    position: absolute;
    top: 10px;
    left: 10px;
    transform-origin: 100% 50%;
    color: var(--c);
    opacity: var(--o);
    transform: rotateY(var(--r));
    -webkit-animation: var(--duration) ease infinite;
    animation: var(--duration) ease infinite;
  }
  
  .loader div ul li:nth-child(2) {
    --c: var(--page-fold);
    -webkit-animation-name: page-2;
    animation-name: page-2;
  }
  
  .loader div ul li:nth-child(3) {
    --c: var(--page-fold);
    -webkit-animation-name: page-3;
    animation-name: page-3;
  }
  
  .loader div ul li:nth-child(4) {
    --c: var(--page-fold);
    -webkit-animation-name: page-4;
    animation-name: page-4;
  }
  
  .loader div ul li:nth-child(5) {
    --c: var(--page-fold);
    -webkit-animation-name: page-5;
    animation-name: page-5;
  }
  
  .loader div ul li svg {
    width: 90px;
    height: 120px;
    display: block;
  }
  
  .loader div ul li:first-child {
    --r: 0deg;
    --o: 1;
  }
  
  .loader div ul li:last-child {
    --o: 1;
  }
  
  .loader span {
    display: block;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 20px;
    text-align: center;
    color: var(--text);
  }
  
  @keyframes page-2 {
    0% {
      transform: rotateY(180deg);
      opacity: 0;
    }
  
    20% {
      opacity: 1;
    }
  
    35%, 100% {
      opacity: 0;
    }
  
    50%, 100% {
      transform: rotateY(0deg);
    }
  }
  
  @keyframes page-3 {
    15% {
      transform: rotateY(180deg);
      opacity: 0;
    }
  
    35% {
      opacity: 1;
    }
  
    50%, 100% {
      opacity: 0;
    }
  
    65%, 100% {
      transform: rotateY(0deg);
    }
  }
  
  @keyframes page-4 {
    30% {
      transform: rotateY(180deg);
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    65%, 100% {
      opacity: 0;
    }
  
    80%, 100% {
      transform: rotateY(0deg);
    }
  }
  
  @keyframes page-5 {
    45% {
      transform: rotateY(180deg);
      opacity: 0;
    }
  
    65% {
      opacity: 1;
    }
  
    80%, 100% {
      opacity: 0;
    }
  
    95%, 100% {
      transform: rotateY(0deg);
    }
  }
  
  /* Ajustes adicionales */
  .project {
    position: relative;
    padding-bottom: 60px; /* Espacio para el botón */
  }
.hidden {
    display: none;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 1rem;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .profile-pic {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .header-text {
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }

    #linkedin,
    #instagram,
    #facebook,
    #whatsapp {
        font-size: 1.5em;
        padding: 8px 14px;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }

    .project img {
        height: 200px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .project h3 {
        font-size: 1rem;
    }

    .project p {
        font-size: 0.8rem;
    }

    .tags span {
        font-size: 0.7rem;
    }

    #certificates-content {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .profile-pic {
        width: 120px;
        height: 120px;
    }

    h1 {
        font-size: 1.5rem;
    }

    #linkedin,
    #instagram,
    #facebook,
    #whatsapp {
        font-size: 1.2em;
        padding: 6px 10px;
    }

    h2 {
        font-size: 1.2rem;
    }
}